<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="contaoner-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Travell Budddy</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a id="home" href="#">Home</a></li>
                <li><a id="tdetails" href="#">Travel Details</a></li>
                <li><a id="udetails" href="#">User Details</a></li>
                <li><a id="about" href="#">About Us</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="home_div">
        <section class="home_css">
            <h1>Home</h1>
            {% for res in results %}                    Title  :: {{ res.catchy_title}} <br>
                   sub Title :: {{ res.sub_title}} <br>
               <input type="button" id="readMoreBtn" value="Read More"> <br>
           {% endfor %}
        </section>
    </div>

    <div class="container" id="travel_detais">
        <section class="home_css">
        <h1>Travel Details</h1>
            <form action="/travelDetails/save" id="travelDetailsForm" role="form" method="POST">
                <p id="errorMessage" style="color:white"></p>
                <table>
                 <tr>
                     <td>Your Destination:</td>
                     <td><input type="text" name="place" id="place"></td>
                 </tr>

                 <tr>
                     <td>Enter a catchy Title of your Place :</td>
                     <td><input type="text" name="catchy_title" id="catchy_title"></td>
                 </tr>

                 <tr>
                     <td>Short Description like a sub title ?:</td>
                     <td><input type="text" name="sub_title" id="sub_title"></td>
                 </tr>

                 <tr>
                     <td>Travel Start Date:</td>
                     <td><input type="date" name="start_date" id="start_date"></td>
                 </tr>

                 <tr>
                     <td>Travel End Date:</td>
                     <td><input type="date" name="end_date" id="end_date"></td>
                 </tr>

                  <tr>
                     <td>Upload the images:</td>
                     <td><input type="file" name="image1" id="image1" multiple></td>
                 </tr>

                </table>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" id="saveTravelDetailsBtn">Save Details </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </form>
    </section>
    </div>

    <div class="container" id="user_details">
        <section class="home_css">
        <h1>User Details</h1>
    </section>
    </div>

    <div class="container" id="about_us">
        <section class="home_css">
            <h1>About Us</h1>
        </section>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='scripts/travelDetails.js') }}"></script>-->

    <footer id="footer">
		<div class="container">
			<div class="text-center">
				<p>All Rights Resereved &#174; <i class="fa fa-love"></i><a href="#"> InFive Technologies </a></p>
			</div>
		</div>
	</footer>
</body>
</html>